*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#box{
height: 300px;
width:300px;
background: crimson;
}
#box2{
height: 300px;
width:300px;
background: seagreen;
}
#box3{
height: 300px;
width:300px;
background: saddlebrown;
}
#box4{
height: 300px;
width:300px;
background: gold;
}
body{
    background-color: #111;
}